/* Main Content */
/*Hero Section*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),url("Assests/HeroSectionBg.png");
    background-size: cover;
    /* background-clip: content-box; */
    /* align-items: stretch; */
    background-position: top;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.hero h2 {
    position: absolute;
    font-family: 'Outfit';
    font-size: 3rem;
    top: 35%;
    left: 30rem;
    right: 30rem;
    background: linear-gradient(to right, #5C5D63, #CACFE0, #5C5D63);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero p {
    position: absolute;
    top: 65%;
    left: 25rem;
    right: 25rem;
    font-size: 1.2rem;
    color: white;
}



/*Feedback Page*/
.feedback-container {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    
}

/*Feedback Content Container*/
.content {
    position: relative;
    width: 100%;
    height: 135em; /* change the value to adjust the height of the main section */
    overflow: hidden;
    top: 50vh;
    background-color: #3dabe63d;

}
/*Heading*/
.content h2 {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Outfit';
    margin-top: 80px;
    margin-inline: 360px;
}

.content h2 span {
    color: #4f4f4f;
}

/*Form*/
.content form {
    text-align: left;
    margin-inline: 350px;

}

fieldset {
    border: none;
}

form {
    background-color: #ffffffb4;
    box-shadow: 0 0 30px rgba(36, 49, 67, 0.8);
    padding: 30px;
    border-radius: 8px;
    width: 820px;
    height: auto;
    color: #0077C8;
    margin-bottom: 5rem;
}


/*Sub-headings*/
.content legend {
    text-align: left;
    font-size: 24px;
    margin-block: 20px;
    color: #145a90;
    font-weight: bold;
}

.content label {
    font-weight: bold;
    display: block;
}

.content label span {
    color: red;
}

/*Personal Details Section*/
.personal-details input, textarea, select {
    width: 95%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    margin-block: 15px;
}

.inline-content {
    display: flex;
    gap: 100px;
}

/*Feedback Details Section*/
.feedback-details input,select {
    width: 250px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    margin-block: 15px;
}

/*Additional Feedback Detail Section*/
.additional-feedback label{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.additional-feedback input {
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

/*Radio button and Checkbox selections css*/
.radio-grp label, .checkbox-grp label, .emoji-rating label {
    font-weight: normal;
    display: inline-flex;
    padding: 5px;
    margin-block: 0;
    color: #000;
}

/*Emoji Rating*/
.emoji-rating {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    font-size: 2rem;
    display: inline-block;
}

.emoji-rating:hover {
    transform: scale(1.3);
}

/*Submit and Clear buttons*/
button {
    width: 120px;
    padding: 10px;
    background: #0077C8;
    color: white;
    border: 1px solid #1A3CA0;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 10px;
}

button:hover {
    background: #0b62bfa7;
}

/*Clear button*/
.clear {
    background: white;
    color: #0077C8;
}

/*border turns red if user dosent input for a required field*/
input:required:user-invalid {
    border:1px solid red;
}

.additional-feedback .file-upload {
    border: none;
}




/* Responsive Design */
@media screen and (max-width: 768px) {
    /* Hero Section */
    .hero h2 {
        font-size: 2rem;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        top: 45%;
    }

    .hero p {
        font-size: 1rem;
        left: 10%;
        right: 10%;
    }

    /* Feedback Page */
    .content {
        height: auto;
        top: 50vh;
    }

    .content h2 {
        font-size: 1.8rem;
        text-align: center;
        margin-inline: 10px;
    }

    .content form {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
    }

    .inline-content {
        flex-direction: column;
        gap: 20px;
    }

    .personal-details input,
    .feedback-details input,
    select {
        width: 100%;
    }
}

