
.home rect {
    fill:#002B55;
}
.home text {
    fill: white;
    font-size:32px;

    text-anchor: middle;
}
.sitemap{
    background: linear-gradient(to bottom, #33ccff, #006699, #003366);
    width: 100%;
}

.table rect {
    fill:#3399CC;
}
.table text {
    fill:#E0FFFF;
    font-size: 28px;
    text-anchor: middle;
}
.team rect {
    fill:#3399CC;
}
.team text {
    fill:#E0FFFF;
    font-size: 28px;
    text-anchor: middle;
}
.userProfile rect {
    fill:#3399CC;
}
.userProfile text {
    fill:#E0FFFF;
    font-size: 28px;
    text-anchor: middle;
}
.feedback rect {
    fill:#3399CC;
}
.feedback text {
    fill:#E0FFFF;
    font-size: 28px;
    text-anchor: middle;
}
.siteMap rect {
    fill:#3399CC;
}
.siteMap text {
    fill:#E0FFFF;
    font-size: 28px;
    text-anchor: middle;
}
.volunteer rect {
    fill:#3399CC;
}
.volunteer text {
    fill:#E0FFFF;
    font-size: 28px;
    text-anchor: middle;
}
.splashScreen rect {
    fill: #09dcd5;
}
.splashScreen text {
    fill: #001A33;
    font-size: 22px;
    text-anchor: middle;
}
.arrow1 line {
    stroke: #09dcd5;
    stroke-width: 2;
    fill: #09dcd5;
}
.arrow1 polyline {
    stroke: #09dcd5;
    stroke-width: 2;
    fill: #09dcd5;
}
.pageEditor rect {
    fill:#3399CC;
}
.pageEditor text {
    fill: #ffffff;
    text-anchor: middle;
    font-size: 16px;
}
.validation rect {
    fill:#A3DFFF;
}
.validation text {
    fill: #001A33;
    text-anchor: middle;
    font-size: 16px;
}
.arrow3 line {
    fill: #3399CC;
    stroke: #3399CC;
    stroke-width: 2;
}
.arrow3 polyline {
    fill: #3399CC;
    stroke: #3399CC;
    stroke-width: 2;
}
.arrow2 line {
    fill: #062654;
    stroke: #062654;
    stroke-width: 2;
}
.arrow2 polyline {
    fill: #062654;
    stroke: #062654;
    stroke-width: 2;
}
text {
    font-family: sans-serif;
}

g:hover rect {
    fill: powderblue; /* Changes box color */
}

g:hover text {
    fill: midnightblue; /* Changes text color */
}
svg {
    width: 100%;
    height: auto;
    overflow-y: auto;
}
.arrow4 {
    fill: #062654;
    stroke: #062654;
    stroke-width: 2;
}
.content-pages rect {
    fill: #09458f;
}
.content-pages text {
    fill: #ffffff;
    text-anchor: middle;
    font-size: 16px;
}